{% extends 'base.html' %} {%block contenu%}
<div class="jumbotron jumbotron-fluid mt-4 card card-body shadow-sm border rounded p-3 bg-white">
    <h1 class="display-4">Bienvenue dans votre repertoire</h1>
    <p class="lead">Gérer vos contacts avec une facilité de oufff 💪 💥</p>
    <hr class="my-4">
    <div class="d-flex">
        <div><button class="btn btn-sm btn-primary">

                {% if request.user.is_authenticated %}
                <a class="text-white" href="{% url 'logout' %}">Deconnexion</a>
                {% else %}
                <a class="text-white" href="{% url 'login' %}">Connexion</a>
                {% endif %}</button></div>

        {% if request.user.is_authenticated %}

        {% else %}
        <div><button class="btn btn-sm btn-danger mx-3"><a href="{% url 'login' %}" class="text-white"> Créer un
                    compte</a></button></div>
        {% endif %}

    </div>
</div>
{%endblock%}