{% extends 'base.html' %} {% block contenu %}
<div class="row mt-2">
  <div class="col-md-6 col-auto mt-4">
    <div class="card card-body">
      <form method="POST">
        {% csrf_token %}

        <div class="alert alert-danger" role="alert">
          Voulez vous supprimer definitivement {{ contact.prenom }}
          {{contact.nom}}??
        </div>

        <button type="submit" class="btn btn-primary">Valider</button>
        <a href="{% url 'contacts' %}" class="btn btn-info">Annuler</a>
      </form>
    </div>
  </div>
</div>
{% endblock %}
