{% extends 'base.html' %} {% block contenu %}
<br><br><br>
<div class="row justify-content-center m-auto shadow-sm card card-body  col-7">
  <div class="mt-4">
      <form method="POST">
        <h3>Modifier le contact</h3>
        <hr>
        {% csrf_token %}
        <div class="form-group">
          <label for="nom">Nom </label>
          <input
            type="text"
            class="form-control"
            name="nom"
            value="{{contact.nom}}"
          />
        </div>

        <div class="form-group">
          <label for="nom">Prenom </label>
          <input
            type="text"
            class="form-control"
            name="prenom"
            value="{{contact.prenom}}"
          />
        </div>

        <div class="form-group">
          <label for="telephone">Telephone </label>
          <input
            type="text"
            class="form-control"
            name="telephone"
            value="{{contact.telephone}}"
          />
        </div>

        <div class="form-group">
          <label for="nom">Email </label>
          <input
            type="email"
            class="form-control"
            name="email"
            value="{{contact.email}}"
          />
        </div>

        <button type="submit" class="btn btn-primary">Enregistrer</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
