{% extends 'base.html' %} {% block contenu %}
<br><br><br>
<div class="row justify-content-center m-auto shadow-sm card card-body  col-7">
  <div class=" mt-4">
    <div >
      <form method="POST">
        <h3>Ajouter un nouveau contact</h3>
        <hr>
        {% csrf_token %}
        <div class="form-group">
          <label for="nom">Nom </label>
          <input type="text" class="form-control" name="nom" />
        </div>

        <div class="form-group">
          <label for="nom">Prenom </label>
          <input type="text" class="form-control" name="prenom" />
        </div>

        <div class="form-group">
          <label for="telephone">Telephone </label>
          <input type="text" class="form-control" name="telephone" />
        </div>

        <div class="form-group">
          <label for="nom">Email </label>
          <input type="email" class="form-control" name="email" />
        </div>

        <button type="submit" class="btn btn-primary">Enregistrer</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
